includes:
	- phpstan-baseline.neon

parameters:
    phpVersion: 070400
    paths:
        - .
    excludePaths:
        analyseAndScan:
            - vendor
            - lang
        analyse:
            - lib
    level: 0
